body{
    background: 
    linear-gradient(to right, hsl(69, 61%, 31%), #1fd822);
}

.wrapper{
    width: 70%;
    margin: auto;
    text-align:center;
}

h1{
    margin: 20px;
    font-size: 6rem;
    color: rgb(0, 4, 6);
}

.dice-area{
    margin: 0px 80px;
    text-align:center;
    display: inline-block;
}

p{
    font-size: 2.5rem;
    color:rgb(7, 7, 7);
}

img{
    width: 200px;

}